
<!-- HERO -->
<div class="">
    <div class="hero vh-100 align-items-center" id="home">     
      <nav class="navbar navbar-expand-lg py-1 sticky-top navbar-light bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img class="logo" src="../assets/img/logo.png" alt="">
          </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Empowerment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">About Us</a>
                    </li>
                    <li class="nav-item">
                        <button class="signIn">Sign In</button>
                        <!-- <a class="nav-link" href="#signIn"></a> -->
                    </li>
                    <li class="nav-item">
                        <button class="signUp">Sign up</button>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
  
  
      <div class="container">
          <div class="row">
              <div class="col-lg-7 mx-auto text-center">
                  <h1 class="display-4 text-white">Join the World <br> to Say NO! to POVERTY</h1>
                  <p class="text-white my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quia
                      sequi eius. Quas, totam aliquid. Repudiandae reiciendis vel excepturi ipsa voluptate dicta!</p>
                  <div class="mt-3 ">
                      <div class="row">
                          <div class="col-lg-6">
                              <a href="#" class="getSkilled btn w-75 mb-3">GET SKILLED</a>
                          </div>
                          <div class="col-lg-6">
                              <a href="#" class="empowerment btn w-75 mb-3 btn-outline-light">GET EMPOWERED</a>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
  </div><!-- //HERO -->
  
  <!-- About-Us -->
  <section id="services">
      <div class="container">
          <div class="row mb-5">
              <div class="col-md-8 mx-auto text-center">
                  <h6 class="text-dark">ABOUT US</h6>                
                  <!-- HR Underline -->
                  <div class="line-container container">
                      <div class="lines">
                          <div class="circle"></div>
                      </div>
                  </div>
                  
                  <p class="test mt-5">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, aliquet imperdiet ullamcorper libero aliquet facilisi nulla arcu. Phasellus pharetra, integer pellentesque ultricies cum ipsum, erat orci. Platea consequat dapibus sit quis a gravida amet, eget non. Ornare purus arcu, eget lectus. Risus eu morbi quam faucibus scelerisque. Nibh maecenas vitae eget faucibus sed sollicitudin. Nunc, egestas amet magna arcu, metus. Consectetur dignissim pellentesque mauris ultricies risus quisque. Cum at feugiat euismod et. <br>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, aliquet imperdiet ullamcorper libero aliquet facilisi nulla arcu. Phasellus pharetra, integer pellentesque ultricies cum ipsum, erat orci. Platea consequat dapibus sit quis a gravida amet, eget non. Ornare purus arcu, eget lectus. Risus eu morbi quam faucibus scelerisque. Nibh maecenas vitae eget faucibus sed sollicitudin. Nunc, egestas amet magna arcu, metus. Consectetur dignissim pellentesque mauris ultricies risus quisque. Cum at feugiat euismod et.
                  </p>
              </div>
          </div>   
  
      </div>
  </section><!-- About-Us -->


  <!-- OFFER -->
  <section class="row w-100 py-0 bg-light" id="features">
    <h6 class="text-dark">WHAT WE DO</h6>                
    <!-- HR Underline -->
    <div class="line-container container">
        <div class="lines">
            <div class="circle"></div>
        </div>
    </div>
    
    <div class="col-lg-6 col-img"></div>
    <div class="col-lg-6 py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h6 class="skill">SKILL ACQUISITION</h6>
                    
                    <p class="skill-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, aliquet imperdiet ullamcorper libero aliquet facilisi nulla arcu. Phasellus pharetra, integer pellentesque ultricies cum ipsum, erat orci. Platea consequat dapibus sit quis a gravida amet, eget non. Ornare purus arcu, eget lectus. Risus eu morbi quam faucibus scelerisque. Nibh maecenas vitae eget faucibus sed sollicitudin. Nunc, egestas amet magna arcu, metus. Consectetur dignissim pellentesque mauris ultricies risus quisque. Cum at feugiat euismod et. <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, aliquet imperdiet ullamcorper libero aliquet facilisi nulla arcu. Phasellus pharetra, integer pellentesque ultricies cum ipsum, erat orci. Platea consequat dapibus sit quis a gravida amet, eget non. Ornare purus arcu, eget lectus. Risus eu morbi quam faucibus scelerisque. Nibh maecenas vitae eget faucibus sed sollicitudin. Nunc, egestas amet magna arcu, metus.
                    </p>
                    <!-- <div class="feature d-flex">
                        
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</section><!-- OFFER -->


  <!-- EMPOWERMENT -->
  <section class="row w-100 py-0 mt-5 mb-5" id="features">
      <div class="col-lg-6 py-5">
          <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h6 class="skill">EMPOWERMENT</h6>
                    
                    <p class="skill-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, aliquet imperdiet ullamcorper libero aliquet facilisi nulla arcu. Phasellus pharetra, integer pellentesque ultricies cum ipsum, erat orci. Platea consequat dapibus sit quis a gravida amet, eget non. Ornare purus arcu, eget lectus. Risus eu morbi quam faucibus scelerisque. Nibh maecenas vitae eget faucibus sed sollicitudin. Nunc, egestas amet magna arcu, metus. Consectetur dignissim pellentesque mauris ultricies risus quisque. Cum at feugiat euismod et. <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, aliquet imperdiet ullamcorper libero aliquet facilisi nulla arcu. Phasellus pharetra, integer pellentesque ultricies cum ipsum, erat orci. Platea consequat dapibus sit quis a gravida amet, eget non. Ornare purus arcu, eget lectus. Risus eu morbi quam faucibus scelerisque. Nibh maecenas vitae eget faucibus sed sollicitudin. Nunc, egestas amet magna arcu, metus.
                    </p>
                    <!-- <div class="feature d-flex">
                        
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-img2"></div>
</section><!-- EMPOWERMENT -->
  
<!-- PROJECTS -->
<section id="portfolio">
    <div class="container-fluid partner">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h6 class="partner-text">PARTNER WITH US TODAY</h6>
                <p style="color: white; font-weight: 400; letter-spacing: 2px; font-size: 14px;">
                    scelerisque. Nibh maecenas vitae eget faucibus sed <br> sollicitudin. Nunc, egestas amet magna arcu, metus. <br> Consectetur dignissim pellentesque mauris ultric.
                </p>
                <button class="getStarted">GET STARTED</button>
            </div>
        </div>
    </div>
</section><!-- PROJECTS -->

<!-- FOOTER -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="firstP row">
                        <h6>Our Story</h6>
                        <p class="footerBd">
                            “scelerisque. Nibh maecenas vitae eget faucibus sed sollicitudin. Nunc, egestas amet magna arcu, metus. Consectetur dignissim pellentesque mauris ultric”
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h6 class="text-white">ABOUT US</h6>
                    <ul class="footerBd list-unstyled">
                        <li><a href="#">Our Mission</a></li>
                        <li><a href="#">Our Impacts</a></li>
                        <li><a href="#">Our Partner</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h6 class="text-white">Events</h6>
                    <ul class="footerBd list-unstyled">
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Warranty</a></li>
                        <li><a href="#">Shipment</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
  
  
<router-outlet></router-outlet>